.agreement {
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(252, 252, 252);
}

.container-agreement {
  font-weight: bold;
  font-size: 1.2rem;
  color: #117ea0;
  text-align: left;
  background-color: transparent;
  width: 60%;
  margin-top: 4%;
}

.form-agreement {
  margin-top: 5%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.text-agreement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  height: auto;
  margin-top: 20px;
}

.captcha-agreement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30%;
  margin-top: 5%;
  justify-content: space-evenly;
}

.captcha {
  width: 80%;
  height: 200px;
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.input-text-agreement {
  margin-top: 20px;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 98%;
  height: 50px;
  color: rgb(163, 163, 163);
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: large;
}

.change-method {
  background-color: red;
  width: 30%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(236, 236, 236);
  padding: 1%;
}

.upload-agreement {
  margin-top: 20px;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 98%;
  height: 200px;
  color: rgb(163, 163, 163);
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: large;
  padding: 20px;
}

.button-nik {
  margin-top: 20px;
  width: 30%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-weight: bold;

  background: linear-gradient(
      270deg,
      #00b1f7 -16.06%,
      rgba(133, 191, 191, 0) 125.18%
    ),
    #67bad5;
  box-shadow: inset 0px -1px 4px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  cursor: pointer;
}

.button-start {
  margin-top: 100px;
  margin-left: 3%;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-weight: bold;

  background: linear-gradient(
      270deg,
      #354d6d -16.06%,
      rgba(133, 191, 191, 0) 125.18%
    ),
    #67bad5;
  box-shadow: inset 0px -1px 4px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  cursor: pointer;
}

.button-result-container {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 720px) {
  .result {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
  }

  .question-container-result {
    font-weight: bold;
    font-size: 1.2rem;
    color: #117ea0;
    text-align: left;
    background-color: transparent;
    width: 60%;
    margin-top: 10%;
  }

  .answer-form-result {
    margin-top: 5%;
    background-color: transparent;
    display: flex;
    justify-content: baseline;
  }

  .text-result {
    background-color: transparent;
    width: 80%;
    margin-left: 2%;
    color: black;
  }

  .button-result {
    margin-top: 100px;
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 12px;

    background: linear-gradient(
        270deg,
        #00b1f7 -16.06%,
        rgba(133, 191, 191, 0) 125.18%
      ),
      #67bad5;
    box-shadow: inset 0px -1px 4px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    cursor: pointer;
  }

  .button-premium {
    margin-top: 100px;
    margin-left: 3%;
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 12px;

    background: linear-gradient(
        270deg,
        #354d6d -16.06%,
        rgba(133, 191, 191, 0) 125.18%
      ),
      #67bad5;
    box-shadow: inset 0px -1px 4px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    cursor: pointer;
  }

  .button-result-container {
    display: flex;
    flex-direction: row;
  }
}
