.user-profile {
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../../materials/login.png");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: left center;
}

.username-profile {
  font-weight: bold;
  font-size: 2rem;
  color: #117ea0;
  text-align: left;
  line-height: 40%;
}
.username-profile p {
  font-size: 60%;
  color: black;
}

.container-profile {
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  align-items: flex-start;
  justify-content: center;
  padding-top: 5%;
}

.history-test-container {
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 60%;
}

.history-card {
  background-color: transparent;
  width: 100%;
  line-height: 10%;
  text-align: left;
}

.right-card {
  background-color: transparent;
  width: 40%;
}

.button-logout {
  margin-top: 100px;
  width: 20%;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-weight: bold;

  background: linear-gradient(
      270deg,
      #00f7f7 -16.06%,
      rgba(133, 191, 191, 0) 125.18%
    ),
    #67bad5;
  box-shadow: inset 0px -1px 4px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
  .user-profile {
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../../materials/login.png");
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: bottom center;
    display: flex;
    justify-content: space-between;
  }

  .username-profile {
    width: 90%;
    font-weight: bold;
    font-size: 2rem;
    color: #117ea0;
    text-align: left;
    line-height: 70%;
    background-color: rgba(221, 221, 221, 0.664);
    border: none;
    border-radius: 20px;
    padding: 10px;
  }
  .username-profile p {
    font-size: 60%;
    color: black;
    background-color: transparent;
    font-weight: bold;
  }

  .container-profile {
    width: 95%;
    height: 3800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 5%;
  }

  .history-test-container {
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 60%;
    height: auto;
    background-color: transparent;
    background-color: rgba(231, 229, 229, 0.664);
    border: none;
    border-radius: 20px;
    padding: 20px;
  }
  .history-header {
    color: rgb(7, 6, 6);
    font-size: x-large;
  }

  .history-card {
    background-color: transparent;
    width: 100%;
    line-height: 10%;
    text-align: left;
  }

  .right-card {
    background-color: transparent;
    width: 40%;
  }
}
