.navbar {
  background-color: transparent;
  height: 10%;
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
}

.logo {
  background-color: transparent;
  height: auto;
  width: auto;
  text-align: left;
  cursor: pointer;
}

.menu {
  background-color: transparent;
  height: auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bolder;
}

.menu p {
  cursor: pointer;
}
.button-navbar {
  width: 156px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;

  background: linear-gradient(
      270deg,
      #00f7f7 -16.06%,
      rgba(133, 191, 191, 0) 125.18%
    ),
    #67bad5;
  box-shadow: inset 0px -1px 4px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .navbar {
    background-color: transparent;
    width: 95%;
    margin-top: 0%;
    height: 90%;
    justify-content: space-between;
  }

  .logo {
    background-color: transparent;
    height: 20%;
    width: 20%;
    cursor: pointer;
  }

  .menu {
    width: 80%;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: small;
    background-color: transparent;
  }

  .menu p {
    cursor: pointer;
    font-size: x-small;
    margin-left: 2px;
  }
  .button-navbar {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;

    background: linear-gradient(
        270deg,
        #00f7f7 -16.06%,
        rgba(133, 191, 191, 0) 125.18%
      ),
      #67bad5;
    box-shadow: inset 0px -1px 4px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    cursor: pointer;
  }
}
