.navbar-transparent {
  height: 10%;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 1%;
  color: white;
}

.account-profile {
  cursor: pointer;
  color: rgb(0, 0, 3);
}

.logo {
  background-color: transparent;
  height: auto;
  width: auto;
  text-align: left;
  cursor: pointer;
}

.menu-transparent {
  background-color: transparent;
  height: auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bolder;
}

.menu-transparent p {
  cursor: pointer;
}

.menu-transparent p:hover {
  font-size: larger;
  font-weight: bolder;
}

.button-navbar {
  width: auto;
  min-width: 20%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 0px 10px 0px 10px;
  background: linear-gradient(
      270.45deg,
      #03d2d2 -11.66%,
      rgba(68, 123, 123, 0.552083) 47.02%,
      rgba(133, 191, 191, 0) 119.36%
    ),
    #017ca3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .navbar {
    width: 80%;
    margin-top: 0%;
    height: 90%;
    justify-content: space-between;
  }

  .logo {
    background-color: transparent;
    height: 10%;
    width: 10%;
    cursor: pointer;
  }

  .menu {
    width: 70%;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: small;
  }

  .menu p {
    cursor: pointer;
    font-size: x-small;
    margin-left: 2px;
  }
  .button-navbar {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;

    background: linear-gradient(
        270deg,
        #00f7f7 -16.06%,
        rgba(133, 191, 191, 0) 125.18%
      ),
      #67bad5;
    box-shadow: inset 0px -1px 4px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    cursor: pointer;
  }
}
